@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --accent-one: #eb4034;
  --accent-two: #2f3dff;

  --font-sans: var(--font-geist-sans, Arial, Helvetica, sans-serif);
  --font-mono: var(--font-geist-mono, "Courier New", monospace);
}

/* Dark theme */
[data-theme="dark"] {
  --background: #171717;
  --foreground: #ffffff;
}

/* Candy theme */
[data-theme="candy"] {
  --background: #ffc2e2;
  --foreground: #8a2be2;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.iconic-text-one {
  color: rgb(192, 192, 192);
  text-shadow: 2px 2px 0 rgb(192, 11, 11);
}

.iconic-text-two {
  color: rgb(147, 154, 255);
  text-shadow: 2px 2px 0 rgb(47, 61, 255);
}